.card-body{
    cursor:pointer;
}
.card-text{
    user-select: none;
}
.labelpos{
    width: 9%;
    text-align: center;
}

.errormsg{
margin-top: 1rem;
    margin-left: 6rem;
    color: red;
    border: 1px solid red;
    width: fit-content;
    padding: 0.5rem;
    display: none;
}
#footer{
    padding: 0.3rem;
    border: 1px solid #dee2e6;
}

.productext{
    margin-bottom: 0.5rem;
}